@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    font-family: 'Poppins', Arial, sans-serif;
}

body {
  background: gradient(45deg, #8b9da9, #fff6e4);
  min-width: 950px;
}

.logo {
    height: 50px;
    margin: 5px;
}

.title {
    font-size: 45px;
    color: lightgrey;
    position: absolute;
    top: -45px;
    left: 180px;
}

ul {
    position: absolute;
    top: 0px;
    right: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: right;
}

li a {
    display: block;
    color: lightgrey;
    text-align: center;
    padding: 18px 16px;
    height: 24px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li a:active {
    color: orange;
}

nav {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    margin: auto;
    width: 90%;
    height: 60px;
    border: 0.5px solid black;
    border-radius: 5px;
    background-color: #333333;
    min-width: 950px;
}

.container {
    position: absolute;
    top: 100px;
    left: 5%;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

input[type=text] {
    border: 1px solid #333333;
    width: 150px;
    margin: -2px;
    padding: 20px;
    border-radius: 15px 0px 0px 0px;
}

input[type=password] {
    border: 1px solid #333333;
    width: 150px;
    margin: -3px;
    padding: 20px;
    border-radius: 0px 15px 0px 0px;
}

textarea:focus, input:focus {
    outline: none;
    background-color: lightgray;
}

#login {
    margin-left: -3px;
    margin-top: -1px;
    width: 383px;
    border-radius: 0 0 15px 15px;
}

#register {
    margin-left: -3px;
    margin-top: -1px;
    width: 383px;
    border-radius: 0 0 15px 15px;
}

#passwordagain {
    border-radius: 0;
    width: 341px;
    margin-left: -2px;
    margin-top: 0;
}

.button {
    background-color: #333333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

.button:hover {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:active {
    background-color: black;
    border: none;
    color: orange;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 0px solid black;
}

#username {
    position: absolute;
    left: 5px;
    top: -20px;
    font-size: 20px;
    text-transform: uppercase;
}

.photocaption {
    text-align: right;
    position: absolute;
    right: 6px;
    top: -35px;
    width: 250px;
    height: 250px;
    overflow: auto;
    text-transform: capitalize;
    font-size: 45px;
}

.profilepic {
    height: 100px;
}

.post {
    height: 350px;
    margin-top: -18px;

}

.rate {
    margin: -6px;
    margin-top: -30px;
    font-size: 80px;
    color: black;
    border: none;
    background-color: white;
}
.rate:hover ~ #rate {
    color: red;
    flex-direction: row-reverse;
}

.rating {
    position: absolute;
    left: 6px;
    top: 10px;
    font-weight: bold;
    font-size: 40px;
}

#comment {
    border-radius: 15px 0px 0px 15px;
    height: 13px;
    margin-right: -7px;
    margin-top: 0px;
}

.comment {
    border-bottom: 1px solid #333333;
    max-width: 300px;
    margin: auto;
    margin-top: 10px;
}

#commentbutton {
    margin-top: 2px;
    border-radius: 0px 15px 15px 0px;
}

#report {
    position: absolute;
    top: 285px;
    left: 6px;
    font-size: 10px;
}

#formtop {
    border-radius: 15px 15px 0 0;
}

#formmid {
    margin-top: 2px;
    border-radius: 0;
}

#formbottom {
    margin-top: 2px;
    margin-left: -4px;
    width: 192px;
    border-radius: 0 0 15px 15px;
}

#choosefile {
}

#caption {
    height: 13px;
    border-radius: 0;
    margin-left: -5px;
    margin-top: -2px;
}

#uploadbutton {
    margin-top: 3px;
    margin-left: -2px;
    border-radius: 0px 15px 15px 0px;
}

#follow {
    border-radius: 15px 0px 0px 15px;
    border-right: 1px solid white;
}

#unfollow {
    margin-left: -6px;
    border-radius: 0px 15px 15px 0px;
}

.rating2 {
    font-weight: bold;
    font-size: 40px;
}

#searchfield {
    border-radius: 15px 0px 0px 15px;
    height: 13px;
    margin-top: 0px;
}

#searchbutton {
    border-radius: 0px 15px 15px 0px;
    margin-left: -2px;
    margin-top: 0px;
}

#reset {
    color: red;
}

.form {
    padding-right: 4px;
    padding-bottom: 8px;
    vertical-align: middle;
}