{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h4>Please enter your old and new passwords.</h4>
    <form action="{{ url_for('change_password') }}" method="post">
        <input class="loginform" id="formtop" name="current_password" placeholder="Current Password" type="password"/>
        <br/>
        <input class="loginform" id="formmid" name="new_password" placeholder="New Password" type="password"/>
        <br/>
        <input class="loginform" id="formmid" name="new_password_again" placeholder="New Password Again" type="password"/>
        <br/>
        <button class="button" id="formbottom" type="submit">Submit</button>
    </form>
{% endblock %}
