{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

<form action="{{ url_for('userpage') }}" method="post">
    <button class="btn btn-default" type="submit" name="user_id" value={{user_id}}>{{username}}</button>
</form>

<img src="{{photo_path}}" style="height: 400px;"/>
<br/>
<br/>

<form action="{{ url_for('index') }}" method="post">
    <button class="btn btn-default" type="submit" name="rate" value = "1">1</button>
    <button class="btn btn-default" type="submit" name="rate" value = "2">2</button>
    <button class="btn btn-default" type="submit" name="rate" value = "3">3</button>
    <button class="btn btn-default" type="submit" name="rate" value = "4">4</button>
    <button class="btn btn-default" type="submit" name="rate" value = "5">5</button>
</form>
<br/>
<p style="color: black; font-size:30px; ">{{rating}}</p>

<form method="post">
    <input type="text" name="comment" placeholder="comment" maxlength="140">
    <button class="btn btn-default" type="submit" name="comment">comment</button>
</form>

{% for comment in comments%}
    <tr>
        <p><td>{{comment.username}}: {{comment.comments}}</td></p>
    </tr>
{% endfor%}

{% endblock %}