<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>

        <link rel="stylesheet" href="/static/stylesheet.css?q=128054978" type="text/css" media="screen" charset="utf-8" />

        <title>RateMyPet: {% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            <a href="{{ url_for('feed') }}"><img src="static/logo.png" class="logo"/></a>
            <h1 class="title">{{self.title()}}</h1>
            <div>
                {% if session.user_id %}
                    <ul>
                        <li><a href="{{url_for('logout')}}">Log Out</a></li>
                        <li><a href="{{url_for('search')}}">Search</a></li>
                        <li><a href="{{url_for('upload')}}">Upload</a></li>
                        <li><a href="{{url_for('feed')}}">Feed</a></li>
                        <li><a href="{{url_for('your_userpage')}}">My Account</a></li>
                    </ul>
                {% else %}
                    <ul>
                        <li><a href="{{url_for('register')}}">Register</a></li>
                        <li><a href="{{url_for('login')}}">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>
        <div class="container">
            <main>
                {% block main %}{% endblock %}
            </main>
        </div>
    </body>
</html>
