{% extends "layout.html" %}

{% block title %}
    Userpage
{% endblock %}

{% block main %}
    <h1>✯{{username}}</h1><img src="{{profile_pic}}" alt="profile picture" class="profilepic"/>
    <br/>
    <form action="{{ url_for('userpage') }}" method="post">
        <input type="hidden" name="user_id" value={{user_id}}>
        <button class="button" id="follow" type="submit" name="follow" value = "yes">Follow</button>
        <input type="hidden" name="user_id" value={{user_id}}>
        <button class="button" id="unfollow" type="submit" name="unfollow" value = "yes">Unfollow</button>
    </form>

    <br/>
    <p>Posts: <strong>{{post_amount}}&nbsp;</strong>Followers: <strong>{{follower_amount}}&nbsp;</strong>Following: <strong>{{following_amount}}</strong></p>
    <br/>
        {% for picture in picture_info%}
            <tr>
                <td><h2>{{caption}}</h2></td>
                <td><img class="post" src="{{picture.photo_path}}"/></td>
                {% if picture.rating == 0 %}
                    <td><p class="rating2">Not yet rated</p></td>
                {% else %}
                    <td><p class="rating2">Rating: {{'%0.1f'% picture.rating|float}}</p></td>
                {% endif %}
            </tr>
        {% endfor%}

{% endblock %}